

.deleteDiv{
    text-align: center;
    align-items: center;
    font-family: 'Roboto' !important;


    h5{
        color: #3C409E;
        font-weight: bold;
        font-size: 20px;

        margin : 12px;
    }
    
    span {
        display: block;
        margin-bottom: 10px;
        font-size: 12px;
        color: #424242;
    }

    button{
      display: flex;
      margin: 0 auto;
      width: 90%;
      padding: 17px 15px;
      border: none;
      border-radius: 8px;
      justify-content: center;
      margin-top: 7px;
      font-weight: bold;
    
    }

    .deleteButton {
        background-color:  #3C409E;
        color: #fff;
    }

    .cancelButton {
        background-color:  #fff;
        color: #3C409E;
        border: 2px solid #3C409E;
    }
}

.edit{
    padding: 0 !important;
    margin: 0;
    font-family: 'Roboto' !important;


    .name{
        border-bottom: 1px solid #dddcdc;
        padding-bottom: 10px;
    }
    h5{
        font-size: 20px;
        color: #3C409E;
        margin: 0;
    }
    div{
        margin-right: 15px;
        margin: 15px 0px;
    }

    span{
        display: block;
        color: #7e7e7e;
        margin-top: 20px;
        padding-bottom: 8px;
    }

    input{
        width: 90%;
        border: 2px solid #7e7e7e;
        display: block;
        border-radius: 8px;
        height: 15px;
        font-size: 20px;
        padding: 15px;
    }


    button {
        width: 47%; 
        border: none;
        border-radius: 8px;
        padding: 17px 15px;
        margin-top: 12px;
        font-weight: bold;
       
    }

    .rename{
        background-color: #3C409E;
        color: #fff;
        margin-right: 18px;
    }

    .cancel{
        background-color: #fff;
        color: #3C409E;
        border: 2px solid #3C409E;
        
    }
}