.nav{
    display: flex;
    height:  60px;
    border-bottom: 1px solid #E7E7E7;
    font-family: 'Roboto' !important;



    .menuDiv{
        display: flex;
        justify-content: space-between;
        width: 100%
    }

    .logo{
        
        display: flex;
        width: 5%;
        align-items: center;
        justify-content: center;
        
        svg{
           height: 25px;
        }
        
    }
    ul {
        margin: 0px;
        padding: 0px;
    }

    h3{
        margin: 0;
        padding: 0;
        padding-left: 10px;
    }

    .menuItems{
        display: flex;
        font-family: 'Roboto' !important;


        li{
           margin: 0px 10px; 
           list-style: none;
           padding-top: 10px;
           padding-right: 10px;
           line-height: 18px;
           font-size: 14px;
           color: #424242;
           cursor: pointer;
        }
    }

    .navRight{
        display: flex;

        p{
            font-size: 16px;
            color: #3C409E;
            font-weight: 500;
            cursor: pointer;
        }

        svg{
            margin: 18px 15px;
        }
    }

    svg{
        cursor: pointer;
    }

}

.saving{

    display: inline;
    color: gainsboro;
    height: 22px;
    
}

.saveIcon{
    display: flex;
    font-family: 'Roboto' !important;


    span{
        margin-left: 8px;
        margin-bottom: 10px !important;
        margin-top: 3px;
        font-weight: bold;
    }
}