.body {
    background-color: #F8F9FD;
    box-sizing: border-box;
}

.heading{
    color: #092657;
    font-weight: 500;
    font-size: 24px;
    margin: 30px;

}

.subHeading{
    color: #092657;
    font-weight: 500;
    font-size: 18px;
    margin: 20px;
    padding-top: 20px;
}
section{
    background-color: #fff;
    margin: 0px 30px;
    padding: 0;
}

.firstSectionWrapperDiv{
    display: flex;
    padding-bottom: 30px;
    border-bottom: 1px solid #E7ECF3;
    padding: 0px 30px;

    .profileImage{
        display: flex;
        padding-bottom: 30px;

        .imageDiv{
            margin-right: 20px;
            p{
            color: #092657;
            font-weight: 500;
            font-size: 12px;
            }
        }
        .imageButtonDiv{
            display: flex;
            flex-direction: column;
            padding-top: 30px;
            button {
                width: 150px;
                height: 40px;
                padding: 8px 16px;
                margin-bottom: 10px;
                border-radius: 6px;
                border: 1px solid #ADB4CD;
                display: block;
            }
            .uploadBtn {
                color: #fff;
                background-color: #3C409E;
            }
            .removeBtn {
                color:  #3C409E;
                background-color: #ffffff;
            }
        }
        
    }

}
.profileInfoRight {
    margin-left: 100px;
    width: 100%;
    .inputDiv{
        margin-top: 20px;
        display: flex;
        text-align: left;
        flex-direction: column;
        label {
            color: #092657;
            font-weight: 600;
            font-size: 14px;
            display: block;
            padding-bottom: 5px;
           
        }
    
        input {
            height: 18px;
            width: 70%;
            left: 0px;
            top: 26px;
            border-radius: 6px;
            padding: 10px;
            border: 2px solid #C1C7D1;
            
        }
        input:hover {
            border: 2px solid #5258DD;
        }
        input:active {
            width: auto;   
        }
    
        input:focus {
            outline: 2px solid #3C409E;
            min-width: 100px;
        }
        
        
      }

}

.secondSectionWrapperDiv{
    display: flex;
    padding-bottom: 30px;
    border-bottom: 1px solid #E7ECF3;
    padding: 0px 30px;

    button {
        width: 150px;
        height: 40px;
        padding: 8px 16px;
        margin-bottom: 10px;
        border-radius: 6px;
        border: 1px solid #ADB4CD;
        display: block;
        color:  #3C409E;
        background-color: #ffffff;
    }

    .secondUpperInput{
        width: 100%;
        .inputDiv{
            margin-top: 20px;
            display: flex;
            text-align: left;
            flex-direction: column;
            label {
                color: #092657;
                font-weight: 600;
                font-size: 14px;
                display: block;
                padding-bottom: 5px;
               
            }
        
            input {
                height: 18px;
                width: 65%;
                left: 0px;
                top: 26px;
                border-radius: 6px;
                padding: 10px;
                border: 2px solid #C1C7D1;
                
            }
            input:hover {
                border: 2px solid #5258DD;
            }
            input:active {
                width: auto;   
            }
        
            input:focus {
                outline: 2px solid #3C409E;
                min-width: 100px;
            }
            
            
          }
    
    }

}